body {
  margin: 0px;
  background-color: #f8f9fb; }

.taskCreator {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 10px; }
  .taskCreator__open {
    color: #fff;
    background-color: #5e84ff;
    border: none;
    border-radius: 3px;
    padding: 20px 0px;
    width: 100%;
    font-size: 18px; }
  .taskCreator__form {
    top: 0px;
    right: 0px;
    z-index: 1;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px 0px; }
  .taskCreator__title {
    display: block;
    width: calc(100% - 12px);
    font-size: 18px;
    padding: 10px 6px;
    margin: 20px 0px; }
  .taskCreator__text {
    display: block;
    width: calc(100% - 12px);
    padding: 10px 6px;
    height: 120px; }
  .taskCreator__submit {
    margin-top: 20px;
    background-color: #00CC66;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 20px 120px;
    font-size: 18px;
    width: 100%; }

.tasks {
  color: #737b88; }
  .tasks__list {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .tasks__wrapper {
    padding: 20px 0px;
    width: 350px;
    margin: 0 auto; }

.task__delete, .task__edit {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #5e84ff;
  margin-right: 14px;
  cursor: pointer; }

.task {
  padding: 14px 0px; }
  .task__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .task__body {
    margin-top: 10px; }
  .task__status {
    font-size: 0.8rem;
    background-color: #4bdae2;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    padding: 4px 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px; }
  .task__complete {
    position: relative;
    right: 20px;
    border: none;
    background: none;
    background-color: #000; }
  .task__title {
    font-weight: 600;
    margin-bottom: 8px; }
