body {
  margin: 0px;
  background-color: #f8f9fb; }

@media (min-width: 768px) {
  .app {
    display: flex; } }

.taskCreator {
  top: 0px;
  right: 0px;
  z-index: 1;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff; }
  .taskCreator__wrapper {
    width: 85%;
    margin: 0 auto; }
  .taskCreator__open {
    cursor: pointer;
    color: #fff;
    background-color: #5e84ff;
    border: none;
    border-radius: 3px;
    padding: 16px 0px;
    width: 100%;
    font-size: 18px; }
  .taskCreator__form {
    padding: 20px 0px; }
  .taskCreator__title {
    display: block;
    width: calc(100% - 12px);
    font-size: 18px;
    padding: 10px 6px;
    margin: 20px 0px; }
  .taskCreator__text {
    display: block;
    width: calc(100% - 12px);
    padding: 10px 6px;
    height: 200px; }
  .taskCreator__submit {
    bottom: 40px;
    margin-top: 20px;
    background-color: #00CC66;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 20px 0px;
    font-size: 18px;
    width: 100%;
    cursor: pointer; }
  .taskCreator__goBack {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    color: #fff;
    border: none;
    background-color: #669999;
    border-radius: 3px;
    padding: 20px 0px;
    cursor: pointer; }

.tasks {
  color: #737b88; }
  @media (min-width: 768px) {
    .tasks {
      margin-left: 270px; } }
  .tasks__list {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .tasks__wrapper {
    width: 300px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .tasks__wrapper {
        padding: 20px 40px;
        width: 350px;
        margin: 0 auto; } }

.task__delete, .task__edit {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #5e84ff;
  margin-right: 14px;
  cursor: pointer; }

.task {
  cursor: pointer;
  padding: 14px 0px; }
  .task__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .task__body {
    margin-top: 10px; }
  .task__status {
    font-size: 0.8rem;
    background-color: #4bdae2;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    padding: 4px 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px; }
  .task__tools {
    margin-top: 10px; }
  .task__complete {
    width: 20px;
    height: 20px;
    background-color: red; }
    .task__complete:after {
      width: 9px;
      height: 9px;
      background: transparent; }
  .task__title {
    font-weight: 600;
    margin-bottom: 8px; }

.filterMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .filterMenu {
      margin-top: 40px;
      display: flex;
      flex-direction: column; } }
  .filterMenu__filter {
    padding: 20px 0px;
    color: #57606f;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .filterMenu__filter:focus {
      outline: none; }
    .filterMenu__filter--active {
      border-bottom: 4px solid #5f85ff;
      border-radius: 3px; }

@media (min-width: 768px) {
  .navigation {
    width: 250px;
    background-color: #fff;
    height: 100%;
    position: fixed; } }

@media (min-width: 768px) {
  .navigation__wrapper {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto; } }
