%button{
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	color: #5e84ff;
	margin-right: 14px;
	cursor: pointer;
}

.task{
	cursor: pointer;
	padding: 14px 0px;
	&__row{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__body{
		margin-top: 10px;
	}
	&__status{
		font-size: 0.8rem;
		background-color: #4bdae2;
		text-transform: uppercase;
		text-align: center;
		width: 120px;
		padding: 4px 10px;
		color: #fff;
		font-weight: 600;
		border-radius: 2px;
	}
	&__tools{
		margin-top: 10px;
	}
	&__delete{
		@extend %button;
	}
	&__edit{
		@extend %button;
	}
	&__complete{
		width: 20px;
		height: 20px;
		background-color: red;
		&:after{
			width: 9px;
			height: 9px;
			background: transparent;
		}
	}
	&__title{
		font-weight: 600;
		margin-bottom: 8px;
	}
}