%button{
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	color: #5e84ff;
	margin-right: 14px;
	cursor: pointer;
}

.task{
	padding: 14px 0px;
	&__delete{
		@extend %button;
	}
	&__edit{
		@extend %button;
	}
	&__complete{
		position: absolute;
		right: 20px;
		width: 2rem;
		height: 2rem;
		border: none;
		background: none;
		background-color: #000;
	}
	&__title{
		font-weight: 600;
		margin-bottom: 8px;
	}
}